.topbar {
  display: flex;
  align-items: center;
  background: red;
  color: #fff;
  padding: 0 16px;
  height: 56px;
  box-shadow: 0 2px 4px rgba(122, 122, 122, 0.04);
}

.topbar-title {
  font-size: 1.25rem;
  font-weight: 500;
  flex: 1;
  margin: 0;
}
